.btn-primary {
    display: block;
    margin: 20px auto;
    width: auto;
    height: 50px;
    padding: 10px 20px;
    border-radius: 10%;
    background-color:#488aff;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
}

button:active {
    background-color: #306fdb;
}